<span data-offer-facet='i-want-to'>I&nbsp;want&nbsp;to</span>
{{#if offerComposition.isTransferOnly}}
  <span data-offer-facet='contractType'>{{offerComposition.contractType}}</span>
{{else}}
  <span class='offer-composition-facet' data-offer-facet='contractType'>{{offerComposition.contractType}}</span>
{{/if}}
{{#if (not isRegistering)}}
  {{~#if offerComposition.canSublicense}}
    {{#if offerComposition.isTransferringAnEdition}}
      <span data-offer-facet='this'>an edition of</span>
    {{/if}}
    <span data-offer-facet='this'>{{#if multipleWorks}}these{{else}}this{{/if}}</span>
    <span class='offer-composition-facet' data-offer-facet='exclusivity'>{{offerComposition.exclusivity}}</span>
  {{else if offerComposition.isAnEdition}}
    <span data-offer-facet='this'>an edition of {{#if multipleWorks}}these{{else}}this{{/if}}</span>
  {{else}}
    {{#if offerComposition.isTransferringAnEdition}}
      <span data-offer-facet='this'>an edition of</span>
    {{/if}}
      <span data-offer-facet='this'>{{#if multipleWorks}}these{{else}}this{{/if}}</span>
    {{offerComposition.exclusivity}}
  {{/if}}
  {{~#if offerComposition.canAmendTitle}}
    <span class='offer-composition-facet' data-offer-facet='classification'>{{offerComposition.classification}}{{if multipleWorks "s"}}</span>
  {{else}}
    {{offerComposition.classification}}{{if multipleWorks "s"}}
  {{/if~}}
{{else}}
  <span data-offer-facet='this'>{{#if multipleWorks}}these{{else}}this{{/if}}</span>
  {{offerComposition.classification}}{{if multipleWorks "s"}}
{{/if}}
{{~#if (and multipleMedia aggregateMedia)}}
  <span data-offer-facet='collection' class="collection">collection ({{work.mediaCollection.length}})</span>
{{/if~}}
{{#if isSelling}}
  <span data-offer-facet='for'>for</span> <span class='offer-composition-facet' data-offer-facet='price'>${{offerComposition.price}}</span>
  {{if multipleWorks " each"}}
{{/if}}

{{#if (not isRegistering)}}
  <span data-offer-facet='that-the-owner'>that&nbsp;the&nbsp;owner</span>
  {{#if (eq offerComposition.exclusivity 'unlimited')}}
    <span data-offer-facet='cannot-resell'>cannot&nbsp;resell&nbsp;&amp;</span>
  {{else}}
    <span data-offer-facet='can-resell'>can&nbsp;resell&nbsp;&amp;</span>
  {{/if}}
  {{#if offerComposition.canTransferRemix}}
    {{#if allowRemix}}
      <span class='offer-composition-facet' data-offer-facet='can-remix'>can&nbsp;remix</span>
    {{else}}
      <span class='offer-composition-facet prohibition' data-offer-facet='cannot-remix'>cannot&nbsp;remix</span>
    {{/if~}}
  {{else}}
    {{#if allowRemix}}
      can&nbsp;remix
    {{else}}
      cannot&nbsp;remix
    {{/if~}}
  {{/if~}}
{{/if~}}

{{~#if (eq offerComposition.contractType 'transfer')}}
  <span data-offer-facet='to-recipient'>to</span>
  <span data-offer-facet='recipient' class="offer-composition-facet {{unless offerComposition.isRecipientValid 'prohibition'}}">
    {{#if offerComposition.recipient}}
      {{offerComposition.recipient}}
    {{else}}
      &lt;specify&nbsp;recipient&gt;
    {{/if}}
  </span>
{{/if~}}
