{{#freestyle-usage "license-summary" title="License Summary"}}
  <div class="lsgdd-PhoneContainer">
    {{lsgdd/license-summary offerComposition=mockOfferComposition}}
  </div>
{{/freestyle-usage}}

{{#freestyle-usage "offer-composition-overview" title="Offer Composition Overview"}}
  <div class="lsgdd-PhoneContainer lsgdd-PhoneContainer--heightened">
    {{lsgdd/offer-composition/composition-overview offerComposition=mockOfferComposition}}
  </div>
{{/freestyle-usage}}

{{#freestyle-usage "offer-facet-contract-type" title="Offer Facet Editor - Contract Type"}}
  <div class="lsgdd-PhoneContainer">
    {{lsgdd/offer-composition/facet-editor/contract-type-editor offerComposition=mockOfferComposition}}
  </div>
{{/freestyle-usage}}

{{#freestyle-usage "offer-facet-contract-type" title="Offer Facet Editor - Exclusivity"}}
  {{lsgdd/offer-composition/facet-editor/exclusivity-editor offerComposition=mockOfferComposition}}
{{/freestyle-usage}}

{{#freestyle-usage "offer-facet-classification" title="Offer Facet Editor - Classification"}}
  <div class="lsgdd-PhoneContainer">
    {{lsgdd/offer-composition/facet-editor/classification-editor offerComposition=mockOfferComposition}}
  </div>
{{/freestyle-usage}}

{{#freestyle-usage "offer-facet-price" title="Offer Facet Editor - Price"}}
  <div class="lsgdd-PhoneContainer">
    {{lsgdd/offer-composition/facet-editor/price-editor offerComposition=mockOfferComposition}}
  </div>
{{/freestyle-usage}}

{{#freestyle-usage "offer-facet-price" title="Offer Facet Editor - Remix"}}
  <div class="lsgdd-PhoneContainer">
    {{lsgdd/offer-composition/facet-editor/remix-editor offerComposition=mockOfferComposition}}
  </div>
{{/freestyle-usage}}
