{{#reveal-slide class="lsgdd-FreestyleRoadmapSlide"}}
  {{presentations/slide-header
    super=""
    main="Ember Freestyle Roadmap"
    sub=""
  }}
  {{#presentations/slide-body}}
    {{#presentations/slide-list}}
      {{#presentations/slide-list-item class="lsgdd-FreestyleRoadmapSlide-listItem"}}
        Additional <span class="lsgdd-InlineCode lsgdd-InlineCode--subtle">ember-freestyle</span> addons
      {{/presentations/slide-list-item}}
      {{#presentations/slide-list-item type="small"}}
        <ul>
          <li>
            <a href="https://github.com/chrislopresto/ember-freestyle/issues/13">{{fa-icon 'github'}} chrislopresto/ember-freestyle: Issues #13 - Extract code highlighting into separate plugin addon</a>
          </li>
          <li>
            <a href="https://github.com/chrislopresto/ember-freestyle/issues/14">{{fa-icon 'github'}} chrislopresto/ember-freestyle: Issues #14 - Extract markdown support into separate plugin addon</a>
          </li>
        </ul>
      {{/presentations/slide-list-item}}
      {{#presentations/slide-list-item class="lsgdd-FreestyleRoadmapSlide-listItem"}}
        Support non-SCSS
      {{/presentations/slide-list-item}}
      {{#presentations/slide-list-item type="small"}}
        <ul>
          <li>
            <a href="https://github.com/chrislopresto/ember-freestyle/issues/15">{{fa-icon 'github'}} chrislopresto/ember-freestyle: Issues #15 - Support Non-SCSS</a>
          </li>
        </ul>
      {{/presentations/slide-list-item}}
      {{#presentations/slide-list-item class="lsgdd-FreestyleRoadmapSlide-listItem"}}
        Tests &amp; Documentation
      {{/presentations/slide-list-item}}
      {{#presentations/slide-list-item type="small"}}
        <ul>
          <li>
            <a href="https://github.com/chrislopresto/ember-freestyle/issues/10">{{fa-icon 'github'}} chrislopresto/ember-freestyle: Issues #10 - Create README</a>
          </li>
          <li>
            <a href="https://github.com/chrislopresto/ember-freestyle/issues/16">{{fa-icon 'github'}} chrislopresto/ember-freestyle: Issues #16 - Add tests</a>
          </li>
        </ul>
      {{/presentations/slide-list-item}}
      {{#presentations/slide-list-item class="lsgdd-FreestyleRoadmapSlide-listItem"}}
        Create a Logo
      {{/presentations/slide-list-item}}
      {{#presentations/slide-list-item type="small"}}
        <ul>
          <a href="https://github.com/chrislopresto/ember-freestyle/issues/17">{{fa-icon 'github'}} chrislopresto/ember-freestyle: Issues #17 - Create a Logo</a>
        </ul>
      {{/presentations/slide-list-item}}

    {{/presentations/slide-list}}
  {{/presentations/slide-body}}
  {{#presentations/slide-footer}}
  {{/presentations/slide-footer}}
  {{#reveal-slide-notes}}
  {{/reveal-slide-notes}}
{{/reveal-slide}}
